/* global  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    font-family: 'Jost', sans-serif;
}

.section {
    padding: 3rem 0;
}

.title {
    margin: auto 0;
    text-align: center;
    padding-top: 24px;
    /* width: 70%;
    left: 50%; */
}

.title h2 {
    color: #f53626;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 1px;
}

.title h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
}

.title p {
    line-height: 1.75rem;
    font-size: 1.2em;
    color: #696969;
}

.title a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #189A46;
    transition: all 0.5s;
}

.title a:hover {
    color: #189A46;
}

li {
    list-style: none;
}

.button__green {
    padding: 12px 35px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
    color: white;
    background-color: #189A46;
    border: 1px solid #189A46;
    border-radius: 10px;
    transition: 0.5s all;
}


/* -----light_theme----- */


/* button switch */

button#switchButton:hover {
    color: #000;
}

#switchButton {
    font-size: 1.5rem;
}

#switchButton .fa-sun {
    display: none;
}


/* header */

.navbar {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    padding: 1.5rem;
    background: #fff;
}

.navbar .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #189A46;
}

.navbar .nav-item {
    margin: 0 0.5rem;
    font-weight: bold;
}

.navbar .nav-item.dropdown {
    color: transparent;
}

#navbarNavDropdown .nav-item::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #189A46;
    transition: all 0.6s;
}

#navbarNavDropdown .nav-item:hover::after {
    width: 100%;
}

#navbarNavDropdown .nav-link:hover {
    color: #189A46;
}

.navbar .nav-link.active {
    color: #189A46;
}

#navbarNavDropdown .nav-item:last-of-type::after {
    display: none;
}

#navbarNavDropdown .nav-item.search i {
    font-size: 15px;
    width: 40px;
    height: 40px;
    padding-left: 12px;
    border-radius: 50px;
    line-height: 40px;
    transition: all 0.6s;
}

#navbarNavDropdown .nav-item:last-of-type i:hover {
    background-color: #189A46;
    color: #fff;
}

.nav-item.search .pop_overlay {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    background: #000000ba;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}

.nav-item.search .pop_overlay:target {
    visibility: visible;
    opacity: 1;
}

.search_popup {
    position: relative;
    margin: 0rem auto;
    padding: 15px;
    top: 50%;
    max-width: 600px;
}

.search_popup .row {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search_popup input {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    height: 55px;
    padding: 15px 20px 12px;
    width: 100%;
    border: 1px solid #d6d6d6;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-right: none;
}

.search_popup button {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    border: none;
    background: #189A46;
    padding: 0 25px;
    border-left: none;
    border-radius: initial;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.search_popup .close {
    position: absolute;
    bottom: 20vh;
    left: 45vw;
    font-size: 1.5rem;
    text-decoration: none;
    color: #d6d6d6;
    transition: all 0.5s;
}

.search_popup .close:hover {
    color: #189A46;
}

#navbarNavDropdown .dropdown-item::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #189A46;
    transition: all 0.6s;
}

#navbarNavDropdown .dropdown-item:hover::after {
    width: 100%;
}

#navbarNavDropdown .dropdown-item:hover {
    color: #189A46;
}


/* responsive header */

@media screen and (max-width:991.98px) {
    .navbar {
        padding: 0.5rem 1.5rem;
    }
    .navbar .navbar-brand {
        font-size: 1rem;
    }
}

@media screen and (max-width:575.98px) {
    .navbar {
        padding: 0.5rem 1.5rem;
    }
    .navbar .navbar-brand {
        font-size: 1rem;
    }
}


/* carousel */

#carouselExampleCaptions .carousel-caption {
    text-align: start;
    bottom: 20%;
    right: 20%;
    transform: translate(-15%);
}

#carouselExampleCaptions .carousel-caption h5 {
    font-size: 5rem;
}

#carouselExampleCaptions .carousel-caption p {
    font-size: 1.5rem;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-item .carousel-caption button {
    border: 2px solid #fff;
    border-radius: 10px;
    width: 155px;
    height: 55px;
    color: #189A46;
    margin: 20px 10px;
    transition: 0.5s all;
}

.carousel-item .carousel-caption button:last-child {
    color: #fff;
}

.carousel-item .carousel-caption button:hover {
    color: #189A46;
    background: #fff;
}

#carouselExampleCaptions .carousel-indicators button {
    margin: 0 0.5rem;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    border: none;
    opacity: 1;
    z-index: 50;
}

#carouselExampleCaptions .carousel-indicators {
    margin-bottom: 5%;
}

#carouselExampleCaptions .carousel-indicators button.active {
    width: 30px;
    height: 10px;
    background: #189A46;
}

#carouselExampleCaptions .carousel-indicators button:hover {
    width: 30px;
    height: 10px;
    background: #189A46;
}


/* responsive carousel */

@media screen and (max-width: 991.98px) {
    #carouselExampleCaptions .carousel-caption h5 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 767.98px) {
    #carouselExampleCaptions .carousel-caption h5 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    #carouselExampleCaptions .carousel-caption p {
        font-size: 0.5rem;
        margin-bottom: 1rem;
    }
    #carouselExampleCaptions .carousel-caption button {
        margin: 0.5rem;
        padding-bottom: 13px;
        font-size: 5.5px;
        width: 15vw;
        height: 2.5vh;
    }
}


/* aboutUs */

.aboutUs_content .card {
    margin: 2rem 0;
    border: none;
}

.aboutUs .aboutUs_content {
    background-color: rgba(147, 107, 232, 0.05);
}

.aboutUs_content .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 2rem;
    transition: all 0.3s ease-out;
}

.aboutUs_content .card-body:hover {
    background-color: rgba(160, 124, 238, 0.09);
}

.aboutUs_content .card-body .card-title {
    font-size: 2rem;
    color: #189A46;
    padding-bottom: 1.5rem;
}

.aboutUs_content .card-body .card-subtitle a {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem 0;
    text-decoration: none;
    color: #000;
}

.aboutUs_content .card-body .card-link {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #189A46;
    transition: all 0.5s;
}

.aboutUs_content .card-body a:hover {
    color: #189A46;
}


/* responsive AboutUs */

@media screen and (max-width: 991.98px) {
    .aboutUs_content .card {
        width: 95%;
    }
}


/* offer */

.offer {
    margin: 5rem 0;
}

.offer .offer_left img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.offer_right .title {
    width: 80%;
    text-align: start;
}

.offer_right .title h1 {
    font-size: 2.5rem;
}

.offer_right_list ul {
    padding-left: 0;
}

.offer_right_list li {
    font-weight: bold;
    list-style: none;
    margin: 1.5rem 0;
}

.offer_right_list li i {
    padding-left: 0.3rem;
    color: #189A46;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: rgba(160, 124, 238, 0.09);
}


/* number count */

.number .container-fluid .row {
    color: #fff;
    padding: 3rem 0;
    text-align: center;
    background: #189A46;
    display: flex;
    justify-content: space-evenly;
}

.number .container-fluid .row h1 {
    font-size: 3.3rem;
}

.number .container-fluid .row p {
    font-size: 1rem;
}


/* plans  */

.plans {
    margin: 0 auto;
    padding: 48px 15px;
    text-align: center;
}

.plans .title h2 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 1.875rem;
}

.plans .title h1 {
    margin-bottom: 3rem;
}


/* ----------------------------------- */


/* -----dark_theme----- */


/*  button switch */

.dark #switchButton .fa-sun {
    display: block;
    color: #fff;
}

.dark #switchButton .fa-moon {
    display: none;
}


/* body dark_mode */

.dark#change_mode {
    background-color: #151515;
    color: #fff;
}


/* nav_dark */

.dark#change_mode .navbar {
    background: #151515;
}

.dark#change_mode .nav-link {
    color: #fff;
}

.dark#change_mode .navbar-toggler {
    background-color: #189A46;
    box-shadow: none;
}

.dark#change_mode .navbar-toggler:focus {
    border: 2px solid #fff;
}

.dark#change_mode .navbar-toggler i {
    color: #fff;
}

.dark#change_mode .nav-link.active {
    color: #189A46;
}

.dark#change_mode .navbar .dropdown-menu {
    background: #151515;
}

.dark#change_mode .navbar .dropdown-item {
    color: #fff;
}

.dark#change_mode .navbar .dropdown-item:hover {
    background: #151515;
}

.dark#change_mode .nav-item.search i {
    background-color: #232323;
}


/* dark_aboutUs */

.dark#change_mode .aboutUs .title a {
    color: #fff;
}

.dark#change_mode .aboutUs a:hover {
    color: #189A46;
}

.dark#change_mode .aboutUs .card-link:hover {
    color: #189A46;
}

.dark#change_mode .aboutUs .aboutUs_content {
    background: #232323;
}

.dark#change_mode .aboutUs .aboutUs_content .card {
    background: #151515;
    transition: all 0.6s;
}

.dark#change_mode .aboutUs .aboutUs_content .card:hover {
    background: #232323;
}

.dark#change_mode .aboutUs .aboutUs_content .card-subtitle {
    color: #fff;
}

.dark#change_mode .aboutUs .aboutUs_content .card-text {
    color: #fff;
}

.dark#change_mode .aboutUs .aboutUs_content a {
    color: #fff;
}

.dark#change_mode .card-body .card-subtitle a:hover {
    color: #189A46;
}


/* offer_dark */

.dark#change_mode .offer_right_list li i {
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: #232323;
}


/* ------------------------------------- */