/* global  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    font-family: 'Jost', sans-serif;
}

.section {
    padding: 3rem 0;
}

.title {
    margin: auto 0;
    text-align: center;
    padding-top: 24px;
}

.title h2 {
    color: #f53626;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 1px;
}

.title h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
}

.title p {
    line-height: 1.75rem;
    font-size: 1.2em;
    color: #696969;
}

.title a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #189A46;
    transition: all 0.5s;
}

.title a:hover {
    color: #189A46;
}

li {
    list-style: none;
}

.button__green {
    padding: 12px 35px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
    color: white;
    background-color: #189A46;
    border: 1px solid #189A46;
    border-radius: 10px;
    transition: 0.5s all;
}


/* -----light_theme----- */


/* button switch */

button#switchButton:hover {
    color: #000;
}

#switchButton {
    font-size: 1.5rem;
}

#switchButton .fa-sun {
    display: none;
}


/* header */

.navbar {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    padding: 1.5rem;
    background: #fff;
}

.navbar .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #189A46;
}

.navbar .nav-item {
    margin: 0 0.5rem;
    font-weight: bold;
}

.navbar .nav-item.dropdown {
    color: transparent;
}

#navbarNavDropdown .nav-item::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #189A46;
    transition: all 0.6s;
}

#navbarNavDropdown .nav-item:hover::after {
    width: 100%;
}

#navbarNavDropdown .nav-link:hover {
    color: #189A46;
}

.navbar .nav-link.active {
    color: #189A46;
}

#navbarNavDropdown .nav-item:last-of-type::after {
    display: none;
}

#navbarNavDropdown .nav-item.search i {
    font-size: 15px;
    width: 40px;
    height: 40px;
    padding-left: 12px;
    border-radius: 50px;
    line-height: 40px;
    transition: all 0.6s;
}

#navbarNavDropdown .nav-item:last-of-type i:hover {
    background-color: #189A46;
    color: #fff;
}

.nav-item.search .pop_overlay {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    background: #000000ba;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}

.nav-item.search .pop_overlay:target {
    visibility: visible;
    opacity: 1;
}

.search_popup {
    position: relative;
    margin: 0rem auto;
    padding: 15px;
    top: 50%;
    max-width: 600px;
}

.search_popup .row {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search_popup input {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    height: 55px;
    padding: 15px 20px 12px;
    width: 100%;
    border: 1px solid #d6d6d6;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-right: none;
}

.search_popup button {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    border: none;
    background: #189A46;
    padding: 0 25px;
    border-left: none;
    border-radius: initial;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.search_popup .close {
    position: absolute;
    bottom: 20vh;
    left: 45vw;
    font-size: 1.5rem;
    text-decoration: none;
    color: #d6d6d6;
    transition: all 0.5s;
}

.search_popup .close:hover {
    color: #189A46;
}

#navbarNavDropdown .dropdown-item::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #189A46;
    transition: all 0.6s;
}

#navbarNavDropdown .dropdown-item:hover::after {
    width: 100%;
}

#navbarNavDropdown .dropdown-item:hover {
    color: #189A46;
}


/* responsive header */

@media screen and (max-width:991.98px) {
    .navbar {
        padding: 0.5rem 1.5rem;
    }
    .navbar .navbar-brand {
        font-size: 1rem;
    }
}

@media screen and (max-width:575.98px) {
    .navbar {
        padding: 0.5rem 1.5rem;
    }
    .navbar .navbar-brand {
        font-size: 1rem;
    }
}


/* carousel */

#carouselExampleCaptions .carousel-caption {
    text-align: start;
    bottom: 20%;
    right: 20%;
    transform: translate(-15%);
}

#carouselExampleCaptions .carousel-caption h5 {
    font-size: 5rem;
}

#carouselExampleCaptions .carousel-caption p {
    font-size: 1.5rem;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-item .carousel-caption button {
    border: 2px solid #fff;
    border-radius: 10px;
    width: 155px;
    height: 55px;
    color: #189A46;
    margin: 20px 10px;
    transition: 0.5s all;
}

.carousel-item .carousel-caption button:last-child {
    color: #fff;
}

.carousel-item .carousel-caption button:hover {
    color: #189A46;
    background: #fff;
}

#carouselExampleCaptions .carousel-indicators button {
    margin: 0 0.5rem;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    border: none;
    opacity: 1;
    z-index: 50;
}

#carouselExampleCaptions .carousel-indicators {
    margin-bottom: 5%;
}

#carouselExampleCaptions .carousel-indicators button.active {
    width: 30px;
    height: 10px;
    background: #189A46;
}

#carouselExampleCaptions .carousel-indicators button:hover {
    width: 30px;
    height: 10px;
    background: #189A46;
}


/* responsive carousel */

@media screen and (max-width: 991.98px) {
    #carouselExampleCaptions .carousel-caption h5 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 767.98px) {
    #carouselExampleCaptions .carousel-caption h5 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    #carouselExampleCaptions .carousel-caption p {
        font-size: 0.5rem;
        margin-bottom: 1rem;
    }
    #carouselExampleCaptions .carousel-caption button {
        margin: 0.5rem;
        padding-bottom: 13px;
        font-size: 5.5px;
        width: 15vw;
        height: 2.5vh;
    }
}


/* aboutUs */


/* .aboutUs {
    display: flex;
    flex-direction: column;
} */

.aboutUs_content {
    background-color: #f9f7fe;
}

.aboutUs .ab_title {
    max-width: 950px;
    margin: 0 auto;
}

.aboutUs_content .card {
    margin: 2rem 0;
    border: none;
}

.aboutUs .list_ab {
    max-width: 950px;
    margin: 0 auto;
}

.aboutUs_content .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 2rem;
    transition: all 0.3s ease-out;
}

.aboutUs_content .card-body:hover {
    background-color: rgba(160, 124, 238, 0.09);
}

.aboutUs_content .card-body .card-title {
    font-size: 2rem;
    color: #189A46;
    padding-bottom: 1.5rem;
}

.aboutUs_content .card-body .card-subtitle a {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem 0;
    text-decoration: none;
    color: #000;
}

.aboutUs_content .card-body .card-link {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #189A46;
    transition: all 0.5s;
}

.aboutUs_content .card-body a:hover {
    color: #189A46;
}


/* responsive AboutUs */


/* @media screen and (max-width: 991.98px) {
    .aboutUs .container {
        width: 100%;
        line-height: 0;
    }
    .ab_title .title h1 {
        font-size: 4vw;
    }
    .ab_title .title {
        font-size: 2vw;
    }
} */


/* .aboutUs .ab_title {
        padding-bottom: 30rem;
        line-height: 0;
        height: 20rem;
    }


}
*/


/* offer */

.offer {
    margin: 5rem 0;
}

.offer .offer_left img {
    margin-left: 10%;
    max-width: 100%;
    height: 85%;
    border-radius: 10px;
    object-fit: cover;
}

.offer_right .title {
    width: 80%;
    text-align: start;
}

.offer_right .title h1 {
    font-size: 2.5rem;
}

.offer_right_list ul {
    padding-left: 0;
}

.offer_right_list li {
    font-weight: bold;
    list-style: none;
    margin: 1.5rem 0;
}

.offer_right_list li i {
    padding-left: 0.3rem;
    color: #189A46;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: rgba(160, 124, 238, 0.09);
}


/* number count */

.number {
    background: #189A46;
}

.number .container .row {
    color: #fff;
    padding: 3rem 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number .container .row h1 {
    font-size: 3.3rem;
}

.number .container .row p {
    font-size: 1rem;
}


/* plans  */

.plans {
    margin: 0 auto;
    padding: 48px 15px 90px;
    text-align: center;
    background-color: rgba(147, 107, 232, 0.05);
}

.plans .title h2 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 1.875rem;
}

.plans__col {
    padding: 0;
}

.plans__content.row {
    margin: 0 auto;
    width: 85%;
}

.plans .title h1 {
    margin-bottom: 3rem;
}

.plans__detail {
    margin-top: 50px;
    padding: 56px 40px;
    background-color: #fff;
    border-radius: 5px;
}

.plans__col .plans__top h6 {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

.plans__col .plans__top h4 {
    font-size: 2.5rem;
    line-height: 45px;
    margin: 15px 0 20px;
    font-weight: 600;
    color: #189A46;
}

.plans__col .plans__top span:first-of-type {
    font-size: 25px;
    margin-bottom: 0.5rem;
    vertical-align: text-top;
}

.plans__col .plans__top span:last-of-type {
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    color: #999;
}

.plans__detail .plans__bottom li {
    font-size: 1.125rem;
    color: #696969;
    line-height: 1.75rem;
    padding-top: 6px;
    line-height: 28px;
    margin-bottom: 5px;
    text-align: center;
}

.plans__bottom {
    padding-top: 1rem;
}

.plans__bottom ul {
    padding-left: 0;
}

.plans__bottom button {
    margin-top: 18px;
}

.plans__col {
    align-items: center;
    /* box-shadow: 10px 5px 5px red; */
}

.plans__col.plans__col_center .plans__top {
    background-color: #189A46;
    border-radius: 5px 5px 0 0;
}

.plans__top h5 {
    font-size: 15px;
    font-weight: 700;
    color: #189A46;
    margin-bottom: 30px;
    padding: 8px 20px;
    background: #fff;
    display: inline-block;
    border-radius: 10px;
}

.plans__col.active .plans__top h6,
.plans__col.active .plans__top h4,
.plans__col.active .plans__top span {
    color: #fff;
}

.plans__col.active .plans__top {
    padding: 3em 2.5em .5em;
}

.plans__col.active .plans__detail {
    margin-top: 0;
}

.plans__content .plans__col.active {
    box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
    border-radius: 6px;
    z-index: 1;
}

.plans__content .plans__col.active .plans__detail {
    padding-top: 15px;
}

.plans__detail button:hover {
    background-color: #116E32;
    border-color: #116E32;
}


/* media  */

.media__center {
    max-width: 950px;
    margin: 0 auto;
}

.media__content img {
    border-radius: 10px;
    padding-bottom: 3rem;
}

.media__content .media__icon {
    color: #189A46;
    background: #fff;
    width: 55px;
    height: 55px;
    display: inline-block;
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
    animation: media__animation 1s linear infinite;
}

.media__content a {
    left: calc(50% - 20px);
    top: calc(50% - 40px);
    transition: all .5s ease-in-out;
}

.media__content a:hover {
    transform: scale(1.1);
}

#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
}

.mfp-close-btn-in .mfp-close {
    color: #fff;
}

.mfp-close,
.mfp-close:active {
    top: -40px;
}

.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: scale(1);
}

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    transform: scale(0.8);
    opacity: 0;
}

.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95;
}

.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}


/* testimonials  */

.testimonials {
    background-color: rgba(147, 107, 232, 0.05);
}

.testimonials__content {
    max-width: 1050px;
    margin: auto;
}

.testimonials__img {
    width: 70px;
    height: 70px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials__img img {
    width: 100%;
    min-width: 100%;
}

.testimonials__info {
    display: flex;
    align-items: center;
}

.testimonials__content .item {
    padding: 40px 30px;
    background-color: #fff;
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
    text-align: left;
    border-radius: 10px;
}

.testimonials__content .owl-stage {
    width: 3210px !important;
}

.testimonials__content .owl-item {
    margin-right: 20px !important;
    width: 515px !important;
}

.testimonials__content .testimonials__text {
    font-weight: 400;
    line-height: 26px;
    margin: 0 1.5rem 1.5rem;
}

.testimonials__content .testimonials__text p {
    font-size: 1.2rem;
    line-height: 28px;
    color: #696969;
}

.testimonials__detail h3 {
    margin: 0;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 800;
}

.testimonials__detail p {
    color: #777777;
    font-size: 17px;
    font-style: normal;
    margin-bottom: 0;
    opacity: 0.8;
    margin-left: 20px;
}

.testimonials .title h1 {
    padding-bottom: 40px;
}

.testimonials__text p::before {
    content: "❝";
    font-size: 50px;
    color: #189A46;
    line-height: 0.8;
    font-weight: 400;
    display: inline-block;
    font-family: 'Merriweather', serif;
}

.testimonials__text p::after {
    content: ".''";
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    width: 30px;
    height: 10px;
    background: #189A46;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 50px;
    padding-left: 25px;
    padding-bottom: 40px;
}


/* form  */


/* .form__content .form-inline{
    display: flex;
} */


/* .form .row{
    max-width: 1140px;
    width: 80%;
    margin: 0 auto;
    
} */

.form .title p {
    margin: 1rem 0;
}

.form__info {
    max-width: 650px;
}

.form__content .form-control {
    font-size: 1rem;
    border-radius: 10px;
    padding: 0 20px;
    height: 60px;
    width: 72%;
    margin-right: 20px;
}

.form__content .form-control:focus {
    box-shadow: none;
    border: 1px solid #189A46;
}

.form__content .form-control::placeholder {
    color: #666;
}

.form__btn {
    padding: 12px 45px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    border-radius: 10px;
    background-color: #189A46;
    border: 1px solid #189A46;
    height: 60px;
}

.form__btn:hover {
    background-color: #116E32;
    border-color: #116E32;
}


/* footer  */

footer {
    background-color: #111111;
    color: #696969;
    padding-top: 4rem;
}

footer a {
    color: #696969;
}

ul {
    padding: 0 !important;
}

a {
    text-decoration: none;
}

.footer__top {
    margin: 0 auto;
    max-width: 1200px;
}

.footer__left h6,
.footer__right h6 {
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer__left p {
    margin: 0;
}

.footer__left p {
    line-height: 28px;
}

.footer__left ul {
    margin-top: 3px;
}

.footer__left ul li {
    margin-right: 15px;
}

.footer__left a,
.footer__right a {
    transition: all .3s;
}

.footer__left a:hover,
.footer__right a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer__right ul li {
    margin-bottom: 5px;
}

.footer__bottom {
    border-top: 1px solid rgba(103, 99, 99, 0.14);
}

.footer__bottom p {
    margin: 0;
}

.footer__bottom a {
    color: #f53626;
}

.footer__bottom a:hover {
    text-decoration: underline;
}


/* back to top  */

.backToTop {
    position: fixed;
    bottom: 35px;
    right: 15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    line-height: 48px;
    background: #189A46;
    text-align: center;
    color: #fff;
    font-weight: normal;
    opacity: 0;
    visibility: hidden;
    /* transition: 0.3s ease-out; */
    z-index: 1;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}


/* ----------------------------------- */


/* keyframe  */

@keyframes media__animation {
    0% {
        box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164), 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}


/* responsive plans, testimonial, media, footer. form */

@media screen and (max-width: 1199.98px) {
    .testimonials__content .owl-item {
        width: 455px !important;
    }
    .footer__top {
        max-width: 960px;
    }
}

@media screen and (max-width: 1080px) {
    .title h1 {
        font-size: 35px;
        line-height: 40px;
    }
}

@media screen and (max-width: 991.98px) {
    /* plans  */
    .plans__col {
        margin: 1rem 0;
    }
    .plans__content {
        margin: 0 auto !important;
        width: 60% !important;
    }
    .plans__detail {
        margin-top: 0;
    }
    /* testimonials  */
    .testimonials__content .owl-item {
        width: 690px !important;
    }
    .testimonials__content .owl-stage {
        width: 4500px !important;
    }
    .footer__top {
        max-width: 768px;
    }
}

@media screen and (max-width: 767.98px) {
    .plans__content {
        margin: 0 auto !important;
        width: 75% !important;
    }
    .testimonials__content .owl-item {
        width: 510px !important;
    }
    .testimonials__content .item{
        box-shadow: none !important;
    }
    .form__content .form-control {
        width: 100%;
        margin-right: 0;
    }
    .form-inline {
        flex-wrap: wrap;
    }
    .form__content .form__btn {
        height: 55px;
        padding: 0 35px;
    }
    .footer__top {
        max-width: 540px;
    }
    .footer__right {
        padding-top: 30px;
    }
}

@media screen and (max-width: 667px) {
    .form__btn {
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .title h1 {
        font-size: 32px;
        line-height: 38px;
    }
    .title {
        padding: 0;
    }
    .plans__detail {
        margin-top: 0px;
    }
    .section {
        padding: 40px 0 30px;
    }
}

@media screen and (max-width: 575px) {
    .testimonials__content .owl-item {
        width: 530px !important;
    }
}

@media screen and (max-width: 568px) {
    .plans__col {
        margin-bottom: 20px;
    }
    .testimonials__content .owl-item {
        width: 522px !important;
    }
}

@media screen and (max-width: 500px) {
    .testimonials__content .owl-item {
        width: 455px !important;
    }
    .testimonials__content .item{
        box-shadow: none !important;
    }
}

@media screen and (max-width: 414px) {
    .plans__content {
        margin: 0 auto !important;
        width: 95% !important;
    }
    .testimonials__content .owl-item {
        width: 384px !important;
        margin-right: 20px !important;
        
    }
    .testimonials__content .item{
        box-shadow: none !important;
    }
}
@media screen and (max-width: 375px) {
    .testimonials__content .owl-item {
        width: 345px !important;
        margin-right: 20px !important;
        
    }
}
/* -------------------------------------- */


/* -----dark_theme----- */


/*  button switch */

.dark #switchButton .fa-sun {
    display: block;
    color: #404040;
}

.dark #switchButton .fa-moon {
    display: none;
}


/* body dark_mode */

.dark#change_mode {
    background-color: #151515;
    color: #fff;
}


/* nav_dark */

.dark#change_mode .navbar {
    background: #151515;
}

.dark#change_mode .nav-link {
    color: #fff;
}

.dark#change_mode .navbar-toggler {
    background-color: #189A46;
    box-shadow: none;
}

.dark#change_mode .navbar-toggler:focus {
    border: 2px solid #fff;
}

.dark#change_mode .navbar-toggler i {
    color: #fff;
}

.dark#change_mode .nav-link.active {
    color: #189A46;
}

.dark#change_mode .navbar .dropdown-menu {
    background: #151515;
}

.dark#change_mode .navbar .dropdown-item {
    color: #fff;
}

.dark#change_mode .navbar .dropdown-item:hover {
    background: #151515;
}

.dark#change_mode .nav-item.search i {
    background-color: #232323;
}

.dark#change_mode .nav-link:hover {
    color: #189A46;
}


/* dark_aboutUs */

.dark#change_mode .aboutUs_content {
    background-color: #252525;
}

.dark#change_mode .list_ab {
    background-color: #252525
}

.dark#change_mode .aboutUs .title a {
    color: #fff;
}

.dark#change_mode .aboutUs a:hover {
    color: #189A46;
}

.dark#change_mode .aboutUs .card-link:hover {
    color: #189A46;
}

.dark#change_mode .aboutUs .aboutUs_content .card {
    background-color: #151515;
    transition: all 0.6s;
}


/* .dark#change_mode .aboutUs .aboutUs_content .card:hover {
    background-color: #151515;
} */

.dark#change_mode .aboutUs .aboutUs_content .card-subtitle {
    color: #fff;
}

.dark#change_mode .aboutUs .aboutUs_content .card-text {
    color: #fff;
}

.dark#change_mode .aboutUs .aboutUs_content a {
    color: #fff;
}

.dark#change_mode .card-body .card-subtitle a:hover {
    color: #189A46;
}


/* offer_dark */

.dark#change_mode .offer_right_list li i {
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: #232323;
}

.dark#change_mode .offer_right_list li p {
    color: #fff;
}


/* plans_dark  */

.dark#change_mode .plans__detail {
    background-color: #151515;
}

.dark#change_mode .plans__detail .plans__bottom li {
    color: #afafaf;
}


/* testimonial dark  */

.dark#change_mode .testimonials__content .item {
    background-color: #151515;
}


/* ------------------------------------- */